{% extends 'base.html' %}
{% block content %}
<div class="container mt-4">
    <div class="card shadow p-4">
        <h3 class="text-center mb-4">View Dead Chickens</h3>
        <table class="table table-striped table-responsive">
            <thead>
                <tr>
                    <th>Breed</th>
                    <th>Age</th>
                    <th>Cause of Death</th>
                    <th>Date Recorded</th>
                </tr>
            </thead>
            <tbody>
                {% for chicken in dead_chickens %}
                <tr>
                    <td>{{ chicken.breed }}</td>
                    <td>{{ chicken.age }}</td>
                    <td>{{ chicken.cause_of_death }}</td>
                    <td>{{ chicken.date_recorded }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
